name: Keep Render Awake

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping API
        run: curl -s https://collegebuzz.onrender.com/api > /dev/null
